<div class="col-md-4 col-lg-3"><a class="d-block mx-auto portfolio-item text-decoration-none category-modal" data-toggle="modal" href="#{{title}}-modal">
    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
        <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
    </div><img class="img-fluid category-img" src="{{imageUrl}}">
    <h4 class="text-center">{{title}}</h4>
</a></div>