<form method="post" action="/blog/category/create" enctype="multipart/form-data">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" id="name" placeholder="Title" name="title">
    </div>
    <div class="col">
      <textarea name="description" cols="30" rows="5"></textarea>
    </div>
    <div class="col">
      <input type="file" class="form-control" name="imageUrl">
    </div>
    <input type="submit" value="Create">
  </div>
</form>