<main class="row" id="index-main">
    <div  id="section-head" class="col-12">
    <section class="row">
        <div class="col-4"></div>
        <div class="welcome-box col-4 text-center">
            <p id="welcome-header" class="">
            Добре дошли в "Психология на Живота"
            </p>
            <p class="text-light text-center" id="text">Здравей! Ти , който четеш това искам широко да се усмихнеш , защото си една уникална личност 
                , която има потенциала да постигне дори и невъзможното! Добре дошъл в "Психология на живота" където граница няма - има единствено СВОБОДА!</p>
            <img src="/images/skills_edited.jpeg" alt="image">
        </div>
    </section>
    </div>
    <div id="section-footer" class="col-12">
    <section class="row">
 <div class="col-4"></div>
        <div class="welcome-box col-4 text-center">
           <img src="/images/thank-you.jpeg" alt="image">
               <h3 class="text-center mt-5 mb-4">За Мен</h3>
               <p class="text-center mb-1">
                   Здравей! Да, ти който четеш това, добре дошъл в един нов свят, пълен с изненади наречен "Психология на живота". Зад тази страничка, която е сбъдната мечта стои едно момиче, родено и израсло в малко градче, момиче, пълно с мечти, енергия и желание за живот, но уви съдбата бе решила да го дари с тежко детство, което още от много ранна възраст накара момичето да стане силно! Казвам се Ивет, на 24 години съм, студентка съм по психология, родом съм от град Враца, но вече почти 5 години аз живея в Пловдив. Аз съм мечтател, човек на изкуството, обичам да творя с ръцете си - като започнем от писане, фотография чак до.... психология. Психологията дойде в моя живот в момент в който аз се бях изгубила, бях срината, не знаех какво да правя с живота си. Психологията ме научи на страшно много неща. Започнах да обичам себе си, да се приемам такава, каквато съм с всичките си недостатъци, които всъщност в някои ситуации са и наши плюсове, научих много неща за човешката психика и колко са силни нашите мисли. Психологията ме промени и ме накара да се почувствам уникална, точно каквата ни е създала Вселената! Определям се като емоционален, истински и добър човек, който се раздава за другите и обича да вижда усмивките им. Страницата "Психология на живота" е една сбъдната мечта. В тази страничка ще споделям всичко, свързано с психологията - една уникална и в същото време даваща наука, която те пленява и те кара да гребеш с пълни шепи знания! Страницата е направена с цел чрез моите публикации да мога макар и виртуално да накарам хората да се чувстват щастливи, да осъзнаят своите качества и способностти, да вярват в себе си и както има една фразичка в Израел - "Осим Хаим" в превод от иврит - "Наслаждавай се на живота тук и сега".
Бъдете здрави, обичайте и бъдете обичани и знайте - Вие сте уникални и можете да постигнете дори и невъзможното!
               </p>
               <p class="mt-0 mb-1">С много любов и поздрави от мен,</p>
               <p class="mt-0 mb-0">Ваша искрена Ивет</p>
        </div>
    </section>
    </div>
</main>