<section class="text-center shadow" id="about-image-section"><img class="rounded img-fluid border border-dark" id="aboutme-image" src="https://res.cloudinary.com/psychologyoflife/image/upload/v1613485251/135227106_300432055070710_3507966593624338425_o_z5le89.jpg"  loading="lazy"></section>
    <section>
        <h1 class="text-capitalize about-header text-center">За Мен</h1>
        <blockquote class="blockquote about-me-blockquot">
            <p class="mb-0"  style="font-family: 'Marck Script', cursive;">"Колкото по-безупречен е човек външно, толкова повече демони има вътре в него"<br></p>
            <footer class="blockquote-footer">Зигмунд Фройд<br></footer>
        </blockquote>
        <h4 class="about-header about-me-spaces">Коя съм аз:</h4>
        <p class="about-me-spaces" id="about-me-paragraph">Здравей! Да, ти който четеш това, добре дошъл в един нов свят, пълен с изненади наречен "Психология на живота". Зад тази страничка, която е сбъдната мечта стои едно момиче, родено и израсло в малко градче, момиче, пълно с мечти, енергия и желание за живот, но уви съдбата бе решила да го дари с тежко детство, което още от много ранна възраст накара момичето да стане силно! Казвам се Ивет, на 24 години съм, студентка съм по психология, родом съм от град Враца, но вече почти 5 години аз живея в Пловдив. Аз съм мечтател, човек на изкуството, обичам да творя с ръцете си - като започнем от писане, фотография чак до.... психология. Психологията дойде в моя живот в момент в който аз се бях изгубила, бях срината, не знаех какво да правя с живота си. Психологията ме научи на страшно много неща. Започнах да обичам себе си, да се приемам такава, каквато съм с всичките си недостатъци, които всъщност в някои ситуации са и наши плюсове, научих много неща за човешката психика и колко са силни нашите мисли. Психологията ме промени и ме накара да се почувствам уникална, точно каквата ни е създала Вселената! Определям се като емоционален, истински и добър човек, който се раздава за другите и обича да вижда усмивките им. Страницата "Психология на живота" е една сбъдната мечта. В тази страничка ще споделям всичко, свързано с психологията - една уникална и в същото време даваща наука, която те пленява и те кара да гребеш с пълни шепи знания! Страницата е направена с цел чрез моите публикации да мога макар и виртуално да накарам хората да се чувстват щастливи, да осъзнаят своите качества и способностти, да вярват в себе си и както има една фразичка в Израел - "Осим Хаим" в превод от иврит - "Наслаждавай се на живота тук и сега".<br>Бъдете здрави, обичайте и бъдете обичани и знайте - Вие сте уникални и можете да постигнете дори и невъзможното!<br>С много любов и поздрави от мен,<br>Ваша искрена Ивет<br><br></p>
        <h4 class="about-header about-me-spaces">Образование:</h4>
        <ul class="list-group about-me-spaces" >
            <li class="list-group-item" style="border-style: none;border-left-style: none;"><span></span>
                <h6 class="about-header" >Висше образование:</h6>
                <ul class="list-group">
                    <li class="list-group-item" style="border-style: none;"><span>Специалност: Психология - бакалавър ПУ "Паисий Хилендарски (все още съм студентка)</span></li>
                </ul>
            </li>
            <li class="list-group-item" style="border-style: none;">
                <h6 class="about-header">Специализации:</h6>
                <ul class="list-group">
                    <li class="list-group-item" style="border-style: none;"><span>Детско Юношеска психология - Медицнски Университет, Пловдив (все още я карам)</span></li>
                </ul>
            </li>
            <li class="list-group-item" style="border-style: none;"><span></span>
                <h6 class="about-header" >Курсове:</h6>
                <ul class="list-group">
                    <li class="list-group-item" style="border-style: none;"><span>Когнитивно-Поведенческа Психотерапия&nbsp;</span></li>
                    <li class="list-group-item" style="border-style: none;"><span>Схема Тереапия (все още се обучавам)</span></li>
                </ul>
            </li>
        </ul>
        <h4 class="about-header about-me-spaces">Професионални интереси:</h4>
        <ul class="list-group about-me-spaces" >
            <li class="list-group-item" style="border-style: none;"><span>Емоциите и емоционалната интелигентност</span></li>
            <li class="list-group-item" style="border-style: none;"><span>Тревожни разстройства</span></li>
            <li class="list-group-item" style="border-style: none;"><span>Депресивни състояния</span></li>
        </ul>
    </section>