
    <header class="masthead bg-primary text-white text-center">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="https://res.cloudinary.com/psychologyoflife/image/upload/v1613397496/Psychology_of_Life_1_esdicx.png">
            <h1><br>Добре дошли в "Психология на Живота"<br><br></h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0"><br><em>Здравей! Ти , който четеш това искам широко да се усмихнеш , защото си една уникална личност , която има потенциала да постигне дори и невъзможното! Добре дошъл в "Психология на живота" където граница няма - има единствено СВОБОДА!</em><br><br></h2>
        </div>
    </header>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase d-block text-center text-secondary">Категории</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                {{#each categories}}
                    {{> category}}
                {{/each}}
                
            </div>
        </div>
        <section>
            <h2 class="text-uppercase text-center d-block text-secondary">Най-четени Статии</h2>
            <hr class="star-dark mb-5">
            <div class="card-group">
               {{#each most-viewed-articles}}
                    {{> most-viewed-article}}
               {{/each}}
               <div class="card" style="margin-right: 10px;margin-left: 10px;border-style: none;border-color: var(--gray-dark);"><img src="https://res.cloudinary.com/psychologyoflife/image/upload/v1612521523/skills_edited_asmgcd.webp" class="card-img-top w-100 d-block" style="height: 200px;">
                    <div class="card-body" style="border-style: none;padding: 20px;">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
               <div class="card" style="margin-right: 10px;margin-left: 10px;border-style: none;border-color: var(--gray-dark);"><img src="https://res.cloudinary.com/psychologyoflife/image/upload/v1612521523/skills_edited_asmgcd.webp" class="card-img-top w-100 d-block" style="height: 200px;">
                    <div class="card-body" style="border-style: none;padding: 20px;">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
                <div class="card" style="margin-right: 10px;margin-left: 10px;border-style: none;border-color: var(--gray-dark);"><img src="https://res.cloudinary.com/psychologyoflife/image/upload/v1612521523/skills_edited_asmgcd.webp" class="card-img-top w-100 d-block" style="height: 200px;">
                    <div class="card-body" style="border-style: none;padding: 20px;">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
                <div class="card" style="margin-right: 10px;margin-left: 10px;border-style: none;"><img src="https://res.cloudinary.com/psychologyoflife/image/upload/v1612521523/skills_edited_asmgcd.webp" class="card-img-top w-100 d-block" style="height: 200px;">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
            </div>
        </section>
    </section>

    {{#each categories}}
        {{>category-module}}
    {{/each}}