<main class="container-fluid">
<h1 class="text-center">Create Category</h1>
  <form method="post" action="/blog/category/create" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" cols="20" rows="10" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="imageUrl">Category Image</label>
      <input type="file" class="form-control" id="imageUrl" name="imageUrl">
    </div>
    <div class="form-group">
      <input type="submit" value="Create" class="btn btn-primary">
    </div>
  </form>
</main>