<div class="wrapper fadeInDown mt-4">
  <div id="admin-formContent">
    <!-- Tabs Titles -->
    {{#if message}}
      <div class="alert alert-danger" role="alert">{{message}}</div>
    {{/if}}
    <!-- Icon -->
    <div class="fadeIn first my-4">
      <h1 class="text-center">Създаване на статия</h1>
    </div>

    <div class="fadeIn second">
      <img
        src="https://res.cloudinary.com/psychologyoflife/image/upload/v1612950921/icon-think-user-centric-1_hi9ejw.png"
        id="admin-form-icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST" enctype="multipart/form-data">
      <input type="text" id="title" class="fadeIn third" name="title" placeholder="Заглавие на статия">
      <textarea id="description" class="fadeIn fourth" rows="6" name="content" placeholder="Съдържание на статия"></textarea>
      <select name="category" id="category">
          <option value="" disabled selected>Избери Категория</option>
          {{#each categories}}
            <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
      </select>
      <div class="fadeIn fifth mb-3">
      <input type="file" id="actual-btn" name="imageUrl" hidden/>
      <label for="actual-btn" class="upload-button">Избери файл</label>
      <span id="file-chosen">Няма избрани файлове</span>
      </div>
      <div class="fadeIn sixth mb-3">
      
      </div>
      <input type="submit" class="fadeIn seventh" value="Създаване">
    </form>
   

  </div>
</div>